.box {
    height: 100px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 50%;
}
 
.gray {
    background-color: gray;
}
 
.red-hover {
    background-color: red !important;
}
 
.yellow-hover {
    background-color: yellow !important;
}
 
.no-bottom-margin {
    margin-bottom: 0 !important;
}
 
.background {
    background-color: #5a98dd;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
.no-bottom-margin > .btn:focus, .no-bottom-margin > .btn:hover {
    background-color: gray;
}